<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Web_app</display-name>
  <servlet>
    <description></description>
    <display-name>Authenticator</display-name>
    <servlet-name>Authenticator</servlet-name>
    <servlet-class>in.ac.adit.controller.Authenticator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authenticator</servlet-name>
    <url-pattern>/Authenticator</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Ipfilter</display-name>
    <filter-name>Ipfilter</filter-name>
    <filter-class>in.ac.adit.filter.Ipfilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Ipfilter</filter-name>
    <url-pattern>/Authenticator</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>in.ac.adit.controller.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>in.ac.adit.controller.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUser</display-name>
    <servlet-name>GetUser</servlet-name>
    <servlet-class>in.ac.adit.controller.GetUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUser</servlet-name>
    <url-pattern>/GetUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getalluser</display-name>
    <servlet-name>getalluser</servlet-name>
    <servlet-class>in.ac.adit.controller.getalluser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getalluser</servlet-name>
    <url-pattern>/getalluser</url-pattern>
  </servlet-mapping>
</web-app>